$blue-color: #2e9ad0;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewsCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    & svg {
        margin-right: 5px;
        font-size: 15px;
    }
}

.controlBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    align-items: center;
    & svg {
        margin-right: 10px;
    }
    & div {
        & h5 {
            margin: 0;
            padding: 0;
            font-weight: 500;
        }
        & h6 {
            margin: 0;
            padding: 0;
            font-weight: 400;
        }
    }
}

.controlBtn {
    display: flex;
    justify-content: space-between;
    & button {
        margin-right: 5px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        font-weight: 600;

        & svg {
            margin-right: 5px;
            font-size: 13px;
        }
    }
    & button:nth-child(1),
    button:nth-child(2) {
        padding: 5px 20px;
        border: 1px solid $blue-color;
        color: $blue-color;
        background-color: inherit;
        &:hover {
            color: #fff;
            background-color: $blue-color;
        }
    }
    & button:nth-child(3) {
        padding: 5px 15px;
        border: 1px solid #e5e5e8;
        background-color: inherit;
    }
}
