.container {
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.topUsersBlock {
    display: flex;
    border-left: 1px solid #e5e5e8;
    margin-left: 5px;
}
