.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 40px;
}

.buttonBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
        margin: 0 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #e5e5e8;
        box-shadow: none;
    }
}

.logo {
    width: 100px;
}
