.userCommentPanel {
    & h5 {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    & div {
        display: flex;
        align-items: center;
        & input {
            width: 100%;
            height: 40px;
            padding: 0 10px;
            margin-right: 10px;
            background-color: #e5e5e8;
            border: none;
            border-radius: 5px;
        }
        & button {
            height: 22px;
            padding: 0 10px;
            border: none;
            background-color: #000000;
            color: #fff;
            border-radius: 5px;
        }
    }
}

.commentBlockTitle {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;

    & h3 {
        color: #83858b;
        padding-left: 5px;
        margin: 15px 0;
    }
}

.commentSection {
    & div {
        display: flex;
        align-items: center;

        & svg {
            margin-right: 10px;
        }
        & h6 {
            margin: 15px 0;
        }
    }
    & p {
        padding-left: 30px;
        margin-top: 0;
    }
    & p:nth-child(3) {
        font-weight: 500;
        font-size: 10px;
    }
}
